body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, gray, darkgray);
    height: 100vh;
    font-size: 20px;
}

header {
    position: fixed;
    top: 0;
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 40px;
}

td {
    text-align: center;
    border: 1px solid black;
    background-color: white
}

.td1 {
    color: red;
}

.td1:hover {
    color: blue;
}

.td2 {
    color: blue;
}

.td2:hover {
    color: red;
}